#root {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
}

/* HEADER STYLING */
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: blueviolet;
  width: 100vw;
}

header p {
  font-size: 1.5rem;
}

header button {
  height: 1.5rem;
  width: auto;
  padding: 1.5vw 2vw;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

/* BODY STYLING */
.card-div {
  width: 95%;
  padding: 2vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .card-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header {
    padding: 3vw;
    gap: 3vw;
  }

  header p {
    font-size: 1em;
  }
  
  header h1 {
    font-size: 1.75rem;
  }

  header button {
    font-size: 0.75em;
  }
}